WinAppEnITma/WinAppEnITma/Connected Services/CatalogoProductosService/CatalogoProductoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ENT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ENT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCatalogoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogoProducto" nillable="true" type="tns:CatalogoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogoProducto" nillable="true" type="tns:ArrayOfCatalogoProducto" />
  <xs:complexType name="CatalogoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogoProducto" nillable="true" type="tns:CatalogoProducto" />
</xs:schema>